:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --gray-bgcolor: #f5f4fa;
  --dark-bgcolor: #2f303a;
  --gray-text-color: #757575;
  --dark-text-color: #212121;
  --black-text-color: #000000;
  --accent-btn-color: #188ce8;
  --white-border: #eeeeee;
  --border-bottom-line: #ececec;
  --footer-gray-color: #ffffff99;
  --overlay-color: #2f303a66;
  --icon-gray-color: #afb1b8;
  --icon-dark-gray-color: #ffffff1a;
  --feature-bgcolor: #2f303acc;
  --portfolio-overlay-color: #2196f3e6;
  --backdrop-color: #00000033;
  --form-border-color: #21212133;
  --form-placeholder-color: #75757580;
  --timing-cubic: cubic-bezier(.4, 0, .2, 1);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, .15);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
}